aruco/
build/
opencv/
opencv_contrib/
python-aruco/
swig/
aruco-test/
bin/
include/
test/cgbot/
test/lcm-test/
lib/
share/
output/
test/cgbot
test/undistort/Samples
obstacle_test
obstacle_process
*.mp4
*.jpg
*.png
*.pyc
*.o
*.old
.rlog
